---
import Layout from '../layouts/Layout.astro';
import "@/styles/global.css";
---

<Layout title="A propos de moi" description='Parcours de Fabien Charles'>
	<main>
		About du site
	</main>
</Layout>

<style>
	
</style>
