---
import Layout from '../layouts/Layout.astro';
import "@/styles/global.css";
---

<Layout title="Portfolio de Fabien Charles" description='Bienvenue sur le portfolio du developpeur Fabien Charles'>
	<main class="text-white">
		Index du site
	</main>
</Layout>

<style>
	
</style>
