<nav class="flex justify-between bg-white">
    <div class="flex items-center">

        <span>Fabien Charles</span>
    </div>

    <ul>
        <li>Lien 1</li>
        <li>Lien 2</li>
        <li>Lien 3</li>
    </ul>

    <span></span>
</nav>
